@import './colors.scss';

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  height: 350px;
  width: 270px;

  &__product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__image {
    position: relative;
    height: 250px;
    width: 100%;
    margin: auto;
    background-color: $c-secondary-1;
    border-radius: 4px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    &:hover {
      .card__add {
        opacity: 100%;
      }
    }

    &__icons {
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__add {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    background-color: $c-text-button;
    color: $c-text-1;
    text-align: center;
    font-weight: bold;
    opacity: 0%;
    z-index: 1;
    
    transition: opacity 0.3s ease;
  }

  &__discount {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 12px;
    background-color: $c-secondary-accent;
    color: $c-text-1;
    border-radius: 4px;
    font-size: 12px;
  }

  &__icon {
    padding: 5px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $c-primary-1;
    cursor: pointer;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    font-weight: bold;
  }

  &__price {
    display: flex;
    gap: 12px;

    &__real {
      color: $c-secondary-accent;
    }

    &__old {
      opacity: 50%;
      color: $c-text-button;
      text-decoration: line-through;
    }
  }
}