$c-primary-1: #FFFFFF;
$c-primary-2: #363738;
$c-secondary-1: #F5F5F5;
$c-secondary-2: #FEFAF1;
$c-secondary-accent: #DB4444;
$c-text-1: #FAFAFA;
$c-text-2: #7D8184;
$c-text-button: #000000;
$c-body-text: #4E4B66;
$c-access: #47B486;
$c-denied: #DB4444;
$c-denied-hover: #E07575;
$c-hover: #A0BCE0;
$c-background: #F7F7FC;
$c-placeholder: #A0A3BD;
$c-input: #EFF0F6;