body, p, h1, h2, h3, a, button, ul, li, div, tr, thead, tbody {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
